* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body, html {
	font-family: arial;
	font-size: 14px;
	height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
